body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 1.85vh;
  font-size: 3vh;
}

.slot-machine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72.9vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5.2vw; 
  box-shadow: 0 0 1.04vw rgba(0, 0, 0, 0.7);
  padding: 2vh;
  flex-direction: column;
  margin: 2vh auto;
}

.slot-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41.7vw; /* ~800px */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2vh;
  min-width: 13vw; 
  min-height: 75vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.04vh;
  border: 0.21vw solid #ffd700;
  border-radius: 0.78vw;
  box-shadow: 0 0.31vh 0.63vh rgba(0, 0, 0, 0.7);
  margin-left: 0.5vw;
}

.reels {
  display: flex;
  justify-content: center;
  gap: 0.78vw;
  background-color: rgba(128, 0, 128, 0.2);
  padding: 0.78vw;
  max-width: 75vw;
}

.reels-container {
  border: 0.21vw solid #ffd700;
  border-radius: 0.78vw;
  padding: 1.3vw;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.31vh 0.63vh rgba(0, 0, 0, 0.7);
  margin: 0.52vh;
}

.slot-reel-column {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.78vw;
  align-items: center;
}

.slot-reel img {
  width: 6.25vw; 
  height: 6.25vw;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.slot-reel img:hover {
  transform: scale(1.05);
}

.controls-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.3vh;
  gap: 1.04vw;
}

.spin-cost {
  display: flex;
  align-items: center;
  font-size: 1.3vw;
  gap: 1.04vw;
  padding: 0.52vh 1.04vw;
  background-color: rgb(43, 0, 43);
  color: #ffffff;
  border-radius: 0.42vw;
  border: 0.21vw solid #ffd700;
  box-shadow: 0 0 1.04vw rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.spin-cost button {
  font-size: 1.2vw;
  padding: 0.3vh 0.6vw;
  border: none;
  background-color: #494949;
  color: white;
  border-radius: 0.31vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.spin-cost button:hover {
  background-color: #555;
}

.balance {
  display: flex;
  align-items: center;
  font-size: 1.3vw;
  gap: 0.42vw;
  padding: 0.52vh 1.04vw;
  background-color: rgb(43, 0, 43);
  color: #ffffff;
  border-radius: 0.42vw;
  border: 0.21vw solid #ffd700;
  box-shadow: 0 0 1.04vw rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.spin-button {
  padding: 1.04vh;
  font-size: 1.5vw;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 4.7vw;
  height: 4.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin-top: 1.04vh;
}

.spin-button:hover {
  transform: scale(1.05);
}

.error-message {
  color: red;
  margin-top: 1vh;
}

.animated-symbol {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.pulse-animation {
  animation: pulse 1s infinite alternate;
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-5.2vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.04vh;
  padding: 0.52vh 1.04vw;
  background-color: rgb(43, 0, 43);
  color: #ffffff;
  border-radius: 0.42vw;
  border: 0.21vw solid #ffd700;
  box-shadow: 0 0 1.04vw rgba(0, 0, 0, 0.7);
  margin-top: 1.04vh;
  align-self: flex-start;
}

.submit-btn {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-top: 1.04vh;
  align-self: flex-start;
  width: 100%;
  text-align: center;
}

.chat-box input {
  width: 80%;
  padding: 1vh;
  border-radius: 0.5vw;
  font-size: 1vw;
  height: 3vh;
}
